.cabecera {
  background-color: black important;
  display: flexbox;
  justify-content: center;
}
.navbar a {
  color: rgb(10, 10, 10) !important;
}
.barra {
  background-color: aqua !important;
}

.promos{
    justify-content: center;
}

.r1{
    padding: 20%;
}