.cabecera {
  background-color: black important;
  display: flexbox;
  justify-content: center;
}
.navbar a {
  color: rgb(10, 10, 10) !important;
}

.r1 {
  padding: 20%;
}

.carritoCompras {
  background-color: black !important;
}

